<%- include('../partial/Header.ejs')%>





  <!-- Container -->
  <div class="flex max-w-6xl mx-auto py-12 gap-3">
    <div class="flex-row ">

      <div class="bg-white p-6 rounded-xl shadow-lg flex gap-4 mb-4">
        <div>
          <img src="/assets/image/premium_photo-1664474619075-644dd191935f.jpeg" alt="app" width="800px" height="800px">
        </div>
        <div class="">
          <strong class="text-3xl capitalize">
            <h1>SentinelX the best ever app in the whole would</h1>
          </strong>

          <p class="mt-6"> SentinelX is your ultimate digital bodyguard.
            Built for professionals, investigators, and privacy-conscious users, it offers deep device
            monitoring,
            forensic-level tracking, and real-time security alerts — without the restrictions of
            standard
            app
            stores.
            With SentinelX, you get full control over your device, unmatched visibility into system
            changes,
            and
            protection against hidden threats.

          </p>

          <!-- Like, Share, View Section -->
          <div class="grid grid-cols-3 w-40 mt-6 text-gray-600 text-sm">
            <div class="flex items-center  cursor-pointer">
              <img src="/assets/icons/thumbs-up-regular-full.svg" alt="" class="w-5 h-5">
              <span>125</span>
            </div>
            <div class="flex items-center ">
              <img src="/assets/icons/eye-regular-full.svg" alt="" class="w-5 h-5">
              <span>2.3k</span>
            </div>
            <div id="shareBtn" onclick="openPopup()" class="flex items-center  cursor-pointer ">
              <img src="/assets/icons/share-nodes-solid-full.svg" href="/share" alt="" class="w-5 h-5">
              <span>Share</span>
              <!-- <button id="shareBtn">Share</button> -->
            </div>
          </div>
          <div class="flex items-center justify-end">
            <a href="./blog-contant"
              class="w-full bg-teal-500  ml-50 px-6 py-3 text-sm font-bold tracking-wide text-white uppercase transition-none hover:bg-teal-600 sm:mt-0 sm:w-auto sm:shrink-0">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>



    <div class="max-w-5xl rounded-lg p-5 text-gray-500 shadow-lg">
      <div>
        <input class="border p-2 focus:ring:nones" type="text" id="search" placeholder="Seach">
      </div>
      <hr class="border-t-2 border-gray-900 mt-12">

      <div class="flex mt-12 max-w-3xl gap-2">
        <div>
          <img src="/assets/image/premium_photo-1664474619075-644dd191935f.jpeg" alt="app" width="50px" height="50px">
        </div>
        <div class="">
          <strong class="mb-4">
            <h1>SentinelX</h1>
          </strong>
          <p class="mb-4 "> SentinelX is your </p>
        </div>

      </div>
    </div>

  </div>

  <!-- Parent Container: Add relative positioning -->
 

 <!-- <div id="shareContainer" class="fixed absolute inset-0 bg-black bg-opacity-50 z-50 h-screen flex items-center justify-center">
    Modal Box: Set relative to position X mark absolutely inside it
    
  </div> -->













  <!-- <%- include('../partial/footer.ejs')%> -->






  <script>
    //             const openPopup = () => {
    //            const popupContainer = document.createElement("div");
    //            popupContainer.className = "fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center";

    //            const container = document.createElement("div");
    //            container.className="flex items-center justify-center bg-white shadow rounded-lg p-6 gap-4";

    //            popupContainer.appendChild(container);

    //            const input  = document.createElement("input");
    //            input.type = "text";
    //            input.className = "border border-gray-300 p-2 mt-4";
    //            input.value = "usvfuvdyuvbvyefuyefyueb";

    //            const clipBtn = document.createElement("img");
    //            clipBtn.src = "/assets/icons/paste-regular-full.svg";
    //            clipBtn.className =  "w-9 h-9 mt-4 cursor-pointer";



    //            clipBtn.onclick =async ()=>{
    //             await navigator.clipboard.writeText(input.value)
    //            .then(()=> alert('Copied to clipboard!'))
    //            .catch((error) => console.error("copy failed"+ error))
    //         }

    //            container.appendChild(input);
    //            container.appendChild(clipBtn);
    //            document.body.appendChild(popupContainer)
    // }


    //  const toggleMoreIcons = () =>{
    //   const extra = document.querySelector("extraIcons")
    //    const button = event.target
    //   if(extra.classList.contains("hidden")){
    //      extra.classList.remove("hidden")
    //      button.textContent = "show more"
    //     }else{
    //       extra.classList.add("hidden")
    //       button.textContent = "Less"
    //      }
    // }




    const openPopup = () =>{

      
      const share = document.createElement("div")
      share.className = "fixed absolute inset-0 bg-black bg-opacity-50 z-50 h-screen flex items-center justify-center"

      share.innerHTML=`
       <div
      class="relative flex items-center justify-center flex-col bg-white shadow rounded-lg p-6 w-full max-w-md gap-6">

      <button class="fixed top-12 right-12 bg-white p-2  z-[9999] ">
        <img src="/assets/icons/xmark-solid-full.svg" alt="Close" class="h-10 w-10">
      </button>


      <!-- Input + copy icon -->
      <div class=" w-full">
        <div class="w-full gap-3 flex justify-center items-center">
          <input class="border border-gray-900 p-2 w-80" readonly type="text" value="Shahzaib karamat">
          <img src="/assets/icons/paste-regular-full.svg" alt="copy"
            class="w-9 h-9 p-2 rounded-xl cursor-pointer border border-gray-900">
        </div>
        <div class="flex justify-center items-center gap-3">
          <div class="w-full   gap-2 bg-white mt-6 shadow rounded-xl w-[600px] overflow-x-auto">
            <div class=" w-full flex  gap-2 min-w-max">
              <a href="#"><img src="/assets/icons/facebook-messenger-brands-solid-full.svg" alt="messinger"
                  class="w-12 h-12"></a>
              <a href="#"><img src="/assets/icons/linkedin-brands-solid-full.svg" alt="linksdin" class="w-12 h-12"></a>
              <a href="#"><img src="/assets/icons/snapchat-brands-solid-full.svg" alt="snapchat" class="w-12 h-12"></a>
              <a href="#"><img src="/assets/icons/telegram-brands-solid-full.svg" alt="telegram" class="w-12 h-12"></a>
              <a href="#"><img src="/assets/icons/share-nodes-solid-full.svg" alt="share" class="w-12 h-12"></a>
              <a href="#"><img src="/assets/icons/whatsapp-brands-solid-full.svg" class="w-12 h-12 " alt="WhatsApp"></a>
              <a href="#"><img src="/assets/icons/x-twitter-brands-solid-full.svg" class="w-12 h-12 "
                  alt="Twitter/X"></a>
              <a href="#"><img src="/assets/icons/instagram-brands-solid-full.svg" class="w-12 h-12 "
                  alt="Instagram"></a>
              <a href="#"><img src="/assets/icons/facebook-brands-solid-full.svg" class="w-12 h-12 " alt="Facebook"></a>
              <a href="#"><img src="/assets/icons/google-brands-solid-full.svg" class="w-12 h-12 " alt="Google"></a>
            </div>
          </div>
          <div>
            <button class="w-12 h-12 border border-gray-900 rounded-full p-1">
              <img src="/assets/icons/arrow-right-solid-full.svg" alt="" class="w-10 h-10">
            </button>
          </div>
        </div>

      </div>

    </div>
      `

      // console.log(share);
      

    }
    document.appendChild(share)



  </script>


  </body>

  </html>