<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="/all.css">
</head>

<body>
  <section>
    <div class="section-page">
      <div class="Singup">
        <h1>Login Here</h1>
      </div>
      <div class="form_Hendler">
        <form action="/submit-foeget-pass" method="POST">
          <div class="form_date">
            <label for="firstName">Username or Email</label>
            <input type="text" id="firstName" name="firstName">
          </div>
           
          <div class="form_date">
            <button type="submit">submit</button>
          </div>
        </form>

      </div>
    </div>
  </section>
</body>

</html>
<!-- <p>if you have not account then singup <a href="./singup.html">singup</a> </p> -->