<%- include('../partial/Header.ejs')%>



    
 
    <%- include('../partial/footer.ejs')%> 


    <div id="shareBtn" onclick="openPopup()" class="flex items-center  cursor-pointer ">
        <img  src="/assets/icons/share-nodes-solid-full.svg" href="/share" alt="" class="w-5 h-5">
        <span>Share</span>
    </div>

 

        </body>

        </html>