<%- include('../partial/Header.ejs')%>




    <!-- Container -->
    <div class="max-w-5xl mx-auto px-6 py-12">


        <div class="bg-white p-6 rounded-xl shadow-lg flex gap-4">
            <div>
                <img src="/assets/image/premium_photo-1664474619075-644dd191935f.jpeg" alt="app" width="800px"
                    height="800px">
            </div>
            <div>
                <strong>
                    <h1>SentinelX</h1>
                </strong>
                <p> SentinelX is your ultimate digital bodyguard.
                    Built for professionals, investigators, and privacy-conscious users, it offers deep device
                    monitoring,
                    forensic-level tracking, and real-time security alerts — without the restrictions of standard
                    app
                    stores.
                    With SentinelX, you get full control over your device, unmatched visibility into system changes,
                    and
                    protection against hidden threats.

                </p>
                <p class="mt-4"><strong>Read more </strong> about App an get the link for download App <a
                        href="/api/user/app-details" class="text-blue-500">Link</a></p>
            </div>
        </div>
    </div>


    <%- include('../partial/footer.ejs')%>




        </body>

        </html>