<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="/all.css">
</head>

<body>
  <section>
    <div class="section-page">
      <div class="Singup">
        <h1>Update Password</h1>
      </div>
      <div class="form_Hendler">
        <form action="/submit-updatePassword" method="POST">
           
             <input type="hidden"  name="token" value="<%=token%>">

          <div class="form_date">
            <label for="Password">New Password</label>
            <input type="Password" id="Password" class="password" name="newPassword" placeholder="New Password">
            <span><img src="/assets/icons/eye-solid-full.svg" alt=""  class="toggle-password" toggle="password"></span>
          </div>
          <div class="form_date">
            <label for="confirmPassword">confirm Password</label>
            <input type="Password" id="confirmPassword" class="password" name="confirmPassword" placeholder="confirm Password">
            <span><img src="/assets/icons/eye-solid-full.svg" alt=""   class="toggle-password" toggle="confirmPassword"></span>
          </div>
           
          <div class="form_date">
            <button type="submit">submit</button>
          </div>
        </form>

      </div>
    </div>
  </section>


   <script>

      const toggle = document.querySelectorAll(".toggle-password")
      toggle.forEach((icon)=>{
       icon.addEventListener('click', ()=>{
       const inputId = icon.getAttribute("toggle")
       const input = document.getElementById(inputId)
        if (input) {
          const currenttype = input.getAttribute('type')
          if (currenttype ===  'text') {
            input.setAttribute('type', 'password')
            // icon.src = '/assets/icons/eye-solid-full.svg'
            icon.src = '/assets/icons/eye-solid-full.svg'
          }else{
            input.setAttribute('type', 'text')
            icon.src = '/assets/icons/eye-slash-solid-full.svg'
          } 
        }
       })
      
      })
   </script>


</body>

</html>
<!-- <p>if you have not account then singup <a href="./singup.html">singup</a> </p> -->