 <main class="flex-1 p-6">
        <h1 class="text-2xl font-semibold mb-5">Contact Messages</h1>

        <table class="w-full bg-white rounded shadow overflow-hidden">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Email</th>
                    <th class="px-4 py-2">Message</th>
                    <th class="px-4 py-2">Date</th>
                </tr>
            </thead>
            <tbody>

                <tr class="border-b">
                    <td class="px-4 py-2">Bilal</td>
                    <td class="px-4 py-2">bilal@example.com</td>
                    <td class="px-4 py-2">I have issue logging in...</td>
                    <td class="px-4 py-2">2025-10-30</td>
                </tr>

            </tbody>
        </table>
    </main>