 <main class="flex-1 p-6">
        <h1 class="text-2xl font-semibold mb-5">Manage Users</h1>

        <table class="w-full bg-white rounded shadow overflow-hidden">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2">#</th>
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Email</th>
                    <th class="px-4 py-2">Role</th>
                    <th class="px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr class="border-b">
                    <td class="px-4 py-2">1</td>
                    <td class="px-4 py-2">Ahmad</td>
                    <td class="px-4 py-2">ahmad@gmail.com</td>
                    <td class="px-4 py-2">User</td>
                    <td class="px-4 py-2">
                        <button class="bg-red-600 text-white px-3 py-1 rounded">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </main>
