<div class="w-full bg-gray-900 h-20 flex items-center justify-center">
    <div class="w-[90%]  flex items-center justify-between p-4 ">
        <div>
            <h2 class="text-xl text-white font-bold">Admin Panel</h2>
        </div>
        <div class="text-white">
            <nav class="flex gap-4">
                <a href="admin-dashboard" class="block px-3 py-2 bg-gray-800 rounded">Dashboard</a>
                <a href="admin-users" class="block px-3 py-2 hover:bg-gray-800 rounded">Users</a>
                <a href="admin-articles" class="block px-3 py-2 hover:bg-gray-800 rounded">Articles</a>
                <a href="admin-messages" class="block px-3 py-2 hover:bg-gray-800 rounded">Contact Messages</a>
                <a href="admin-settings" class="block px-3 py-2 hover:bg-gray-800 rounded">Settings</a>
            </nav>
        </div>
    </div>
</div>